
<ion-content>
<div class="image-div">
<img src="/assets/images/static/woman-lab-doing-experiments 2 (1).png" alt="">
</div>
<div class="about-main-div">
<p>about the App </p>
<h1>Graphic, print, and publishing industries for previewin</h1>
<p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.

  The passage experienced a surge in popularity during the 1960s when Letraset.</p>
</div>
</ion-content>
