@import "src/stylesheets/_variables.scss";

.imaggg{
  height: 40vh;
}
.about-main-div {
  background-color: $bg-default-color-one;
  width: 100%;
  height: 58vh;

  .sub-div {
    background-color: $bg-default-color;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    width: 100%;
    padding: 20px 20px;

    p {
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: $color-black;
    }

    h1 {
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 38px;
      padding-top: 3px;
      color: $color-black;
    }

    .description {
      font-family: $font-en-primary;
      font-style: normal;
      font-weight: 400;
      font-size: 13.5px;
      line-height: 20px;
      color: #626262;
      opacity: 0.6;
      padding-top: 9px;
    }

    .button-div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 54px;
      .btn-next {
        background: $bg-default-color-black;
        border-radius: 10px;
        font-family: $font-en-primary2;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: capitalize;
        color: $bg-default-color;

        width: 169px;

        height: 55px;
      }
      .btn-skip {
        border: 1px solid rgba(21, 25, 27, 0.2);
        border-radius: 10px;
        width: 169px;

        height: 55px;

        font-family: $font-en-primary;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
text-align: center;
text-transform: capitalize;

color: $bg-default-color-black;
      }
    }
  }
}
