   <!---blog-card-->
   <div class="blog-card" [id]="data?._id">
    <div class="blog-image">
        <a href="#">
            <img [src]="data?.articleImg" alt="">
        </a>
    </div>
    <!--blog-body-->
    <div class="blog-body">
        <ul>
            <li><i class="fa fa-user"></i> Admin</li>
            <li><i class="fa fa-calendar"></i> february 02, 2021</li>
        </ul>
        <div class="blog-title">
            <a [routerLink]="[data?.routerLink]" >{{data?.title}}</a>
        </div>
        <div class="blog-des">
            <p>{{data?.description}}</p>
        </div>
        <div class="read-more">
            <a [routerLink]="[data?.routerLink]" >Read More </a>
        </div>
    </div>
</div>
