

<ion-content>
  <div class="container test">
    <div class="login-main-div">
      <div class="img-div">
        <img src="../../../assets/images/static/loginBanner.png" alt="">
      </div>
      <div class="login-from-main-div">
        <div class="login-from-sub-div">
          <div class="heading-div">
            <h1>Science Employee Sign In</h1>
            <div class="dot-image-div">
              <img class="imageOne" src="../../../assets/images/static/Rectangle 25.png" alt="">
              <img class="imageTwo " src="../../../assets/images/static/Rectangle 26.png" alt="">
              <img class="imageThree" src="../../../assets/images/static/Rectangle 27.png" alt="">
            </div>
            <h3>Login your account </h3>
          </div>

          <div class="from-div">
            <div class="input-div">
              <label for="">Enter Email <span>*</span></label>
              <input type="text" name="" id="" placeholder="PatriciaJHowe@dayrep.com">
            </div>
            <div class="input-div">
              <label for="">Enter Password <span>*</span></label>
              <input type="password" name="" id="" >
            </div>
            <div class="input-div">
              <label for="">Enter Code <span>*</span></label>
              <input type="text" name="" id="" placeholder="#155BJBUJKJ">
            </div>
            <a routerLink="" class="forgot-Pass" href="">Forgot Password?</a>
<div class="privacy-policy-div">
  <input type="checkbox" name="" id="">
  <label for="">By Login with Conservation Club you accept the <span>terms 
    and conditions</span> and <span>privacy policy</span>. </label>
</div>

<button class="sign-In-btn">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
  
