@import "src/stylesheets/_variables.scss";

.test {
  background-color: $bg-default-color-two !important;
  width: 100%;
  height: 100vh;
}

.login-from-main-div {
  .login-from-sub-div {
    background-color: $bg-default-color;
    border-radius: 20px 20px 0px 0px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    padding: 46px 18px 25px 20px;

    .heading-div {
      margin-bottom: 33px;
      h1 {
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        text-align: center;

        color: #000000;
      }

      .dot-image-div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin: 11px 0;

        .imageOne {
          width: 30px;
          height: 3px;
        }

        .imageTwo {
          width: 10px;
          height: 3px;
        }

        .imageThree {
          width: 5px;
          height: 3px;
        }
      }

      h3 {
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #626262;
      }
    }

    .from-div {
      width: 100%;
      .input-div {
        margin-bottom: 18px;
        label {
          font-family: $font-en-primary;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          text-transform: capitalize;
          color: $bg-default-color-black;
          span {
            color: #ff4a4a;
          }
        }
        input {
          width: 338px;
          height: 55px;
          background: #f5f7fb;
          border: 1px solid rgba(149, 154, 161, 0.1);
          border-radius: 10px;
          margin-top: 6px;

          font-family: $font-en-primary;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          text-transform: capitalize;
          color: #15191b;
          padding-left: 18px;
        }
      }

      .forgot-Pass {
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: right;
        text-transform: capitalize;
        color: $bg-default-color-black;
      }

      .privacy-policy-div {
        margin-top: 11px;
        display: flex;
        gap: 9px;
        input {
          background: #ffffff;
          border: 1px solid #959aa1;
          width: 16px;
          height: 16px;
          margin-top: 4px;
        }

        label {
          font-family: $font-en-primary;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;

          color: #626262;
          span {
            color: #192023;
          }
        }
      }

      .sign-In-btn {
        width: 338px;
        height: 55px;
        margin-top: 18px;
        background: $bg-default-color-black;
        border-radius: 10px;

        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: capitalize;
        color: $bg-default-color;
      }
    }
  }
}
