/*** font-family ****/
// $font-en-primary:'Rubik',sans-serif;
$font-en-primary:'Outfit', sans-serif;
$font-en-primary1:'Poppins',sans-serif;
$font-en-primary2:'Roboto',sans-serif;
$font-en-primary3: 'Open Sans', sans-serif;
$font-en-secondery:'Barlow',sans-serif;
$font-en-secondery1:'Baloo Da 2',sans-serif;

$bank-gothic-medium: 'bank_gothic_medium', 'arial', sans-serif;
$nexa-bold: 'nexa_bold', 'arial', sans-serif;
$nexa-light: 'nexa_light', 'arial', sans-serif;
$cocon-regular: 'cocon_regular', 'arial', sans-serif;
$shorif-jonota: 'shorif_jonota', sans-serif;
$segoe_ui_regular: 'segoe_ui_regular', sans-serif;
$segoe_ui_bold: 'segoe_ui_bold', sans-serif;
$shorif-jonota: 'shorif_jonota', sans-serif;

/**** containerr ***/
$container-max-width:599px;

// MAT TOOLBAR, SIDENAV & LIST
$toolbar-height: 85px;
$toolbar-height-sm: 65px;
$mat-sidenav-width: 295px;
$list-hover-color: #c8d5e4;
$list-text-color: #4a4a4a;
$list-text-size: 15.5px;

// BREAKPOINTS
$max-tablet-width: 899px;

// COLOR
$color-light-gray: #777777;
$color-primary: #c92127;
$color-primary-2: #273763;
$heading-color:#39404a;
$sub-heading-color:#565765;
$color-danger:#ff3838;
$color-border:#e8e8e8;
$text-color:#919199;
$color-secondary: #09b409 ;
$color-black:#232433;
$color-black-div:#171718;
$color-yellow: #ffab10;
$icon-default-color: #FFFFFF;
$table-bg-color:  #FBAE01;
$table-text-color:  #6a4a02;
$table-sm-color:  #a59688;
$box-shadow-primary:0px 15px 35px 0px rgba(0, 0, 0, 0.1);

//BACKGROUND COLOR
$bg-default-color: #FFFFFF;
$bg-default-color-one: #F3F2F3;
$bg-default-color-black: #15191B;

// FONT SIZE
$font-title-size: 38px;
$font-title--md-size: 18px;
$font-dis-size: 16px;
