<div class="section3">
  <div class="container">
       <div class="section3-title">
           <h3>Connect with us</h3>
       </div>
       <div class="section3-main">
           <ul>
               <li><button><span>Live Chat</span> <i class="fab fa-whatsapp"></i></button></li>
               <li><button><span>Messenger </span><i class="fab fa-facebook-messenger"></i></button></li>
               <li><button><span>Call</span> <i class="fa fa-phone-alt"></i></button></li>
               <li><button><span>Mail</span> <i class="fa fa-envelope"></i></button></li>
           </ul>
           <h3><i class="fa fa-copyright"></i> All Copyrights Reserved By Red Grocer Limited</h3>
       </div>
  </div>
</div>